<p id="notice"><%= notice %></p>

<h1>Paper Reports</h1>

<table>
  <thead>
    <tr>
      <th>Paper</th>
      <th>Report</th>
      <th>Reporter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paper_reports.each do |paper_report| %>
      <tr>
        <td><%= paper_report.paper %></td>
        <td><%= paper_report.report %></td>
        <td><%= paper_report.reporter %></td>
        <td><%= link_to 'Show', paper_report %></td>
        <td><%= link_to 'Edit', edit_paper_report_path(paper_report) %></td>
        <td><%= link_to 'Destroy', paper_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper Report', new_paper_report_path %>
